<!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay" style="width: 30%;margin-left: 35%;margin-top: 10%;">
      <img class="card-img-top" src="{{image}}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">{{ name }}</h4>
      <!--Text-->
      <p class="card-text">{{ description|raw }}</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn {{color}} btn-fill">{{type}}</button>
    </div>

  </div>
  <!-- Card -->