<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Busqueda</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="assets/css/mdb.min.css" rel="stylesheet">

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />


    <!-- Checkbox personalizados -->
    <link href="assets/css/pretty-checkbox.min.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- BoostrapTable Api -->
    <link rel="stylesheet" href="assets/css/bootstrap-table.min.css">

    <!-- Iconos font awesome-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

</head>
<body>

<div class="wrapper">
    <div class="main-panel" style="width: 100%;">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark indigo mb-4">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Búsqueda & Procesamiento de Información</a>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline ml-auto" action="/buscar" method="post">
            <div class="md-form my-0">
                <input id="txtCampo" class="form-control" type="text" placeholder="Search" name="campo" aria-label="Search">
            </div>
            <button id="btnBuscar" href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2 btn-fill" type="submit">Search</button>
            </form>

        </div>
        <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
        <div class="content">
            <div id="main-container" class="container-fluid">
                {% block main %}{% endblock %}
            <nav class="row justify-content-md-center">
                <ul class="pagination pg-red">
                    <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
    {% block modals %}{% endblock %}
</body>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="assets/js/mdb.min.js"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>
    
    <!-- BootstrapTable API -->
    <script src="assets/js/bootstrap-table.min.js"></script>

    <!-- Personal Scripts -->
    {% block scripts %}{% endblock %}
    <script src="javascripts/main.js"></script>
    
</html>