{% extends 'mainLayout.twig' %}

{% if carrusel %}
{% else %}
    {% block main %}
        {% if items %}
            {% for item in items %}
                <div class="row justify-content-md-center">
                    <!-- Card deck -->
                    <div class="card-group">
                    {% for params in item %}
                        {% if params.producto %}
                            {% set name = params.producto|e %}
                            {% set description = params.precio|e %}
                            {% set type = "Producto" %}
                            {% set color = "peach-gradient" %}
                        {% else %}
                            {% set name = params.concepto|e %}
                            {% set description = params.definicion %}
                            {% set type = "Definición" %}
                            {% set color = "purple-gradient" %}
                        {% endif %}
                        {% set image = params.imagen|e %}
                        <div class="col-sm">
                                {% include 'card.twig' %}
                        </div>
                    {% endfor %}
                    </div>
                    <!-- Card deck -->
                </div>
            {% endfor %}
        {% else %}
            {{"Empty"}}
        {% endif %}
    {% endblock %}
{% endif %}

{% block scripts %}
    <script src="javascripts/buscador.js"></script>
{% endblock %}

